html, body{
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	height: 100% !important;
}

.logo-text{
	font-weight: 900;
	padding: 8px;
}

.logo-white{
	color: #fff;
}

.logo-dark{
	color: #000;
}

.black-start{
	width: 100% !important;
	height: 200px !important;
	background-color: #000 !important;
	background-image: url('./img/oyald.jpg') !important;
}

p{
	color: #000000 !important;
}

.map-container{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}

.map-image{
	height: 500px;
	width: max-content;
}

.statistics-img{
	width: 600px !important;
	float: right;
}


.logo-img{
	width: 70px !important;
	border-radius: 8px;

}

.logo-text{
	margin-top: 8px !important;
	padding-top: 8px !important;
	transform: translate(0px, 15px);
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	height: 50px;

}

/* .top-bar{
	padding-left: 10px !important;
	padding-right: 10px !important;
} */